doctype html
html(lang="en")
   head
      title Gift
body
   #container
      | !{extraMessage}
      | Hi,
      br
      br
      | It’s your lucky day! #{giverName} has just given you a FounderShare gift card for $#{amount} at #{businessName}.
      | <a href="#{url}">Click here to activate the gift card so you can redeem it.</a>
      br
      br
      | Cheers!
      br
      | The FounderShare Team & #{giverEmail}
      | P.S. You need to click on <a href="#{url}">this link</a> soon before your chance to accept it disappears!
