| !{extraMessage}Hi,
| It’s your lucky day! #{giverName} has just given you a FounderShare gift card for #{amount} at #{businessName}.
| Click <a href="#{url}">here</a> to to accept your gift. You only have a few days to accept it before it gets returned to your friend.
| Cheers!
| The FounderShare Team
     
